html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1cdb3;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #545454;
  text-decoration: none;
}

a:hover {
  color: #292929;
}

a.current:link, a.current:visited {
  border-bottom: 3px solid #f1cdb3;
}

ul {
  padding: 0;
}

main {
  width: 1280px;
  margin: 0 auto;
}

.start_screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding: 60px 40px 0px;
}

.start_screen header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start_screen header .logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #f1cdb3;
  margin-bottom: 10px;
}

.start_screen header .logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

.start_screen header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start_screen header nav ul li:not(:first-child) {
  margin-left: 35px;
}

.start_screen header nav ul a {
  padding: 4px 0px;
  color: #cdcdcd;
  text-decoration: none;
}

.start_screen header nav ul a:hover {
  color: #FAFAFA;
}

.start_screen header nav ul a.current:link, .start_screen header nav ul a.current:visited {
  border-bottom: 3px solid #f1cdb3;
}

.start_screen .start_screen-content {
  margin: 60px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start_screen .start_screen-content-text {
  margin-top: 163px;
}

.start_screen .start_screen-content-text h2 {
  width: 310px;
  margin-right: 150px;
}

.start_screen .start_screen-content-text p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #cdcdcd;
  margin: 42px 0px;
}

.start_screen .start_screen-content-text button {
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #292929;
}

.start_screen .start_screen-content img {
  margin-left: 42px;
}

.about {
  background-color: #ffffff;
  padding: 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about img {
  margin-left: 175px;
}

.about-text {
  margin-top: 14px;
  margin-left: 120px;
  margin-right: 175px;
}

.about-text h3 {
  margin-right: 30px;
  color: #545454;
}

.about-text p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #4C4C4C;
  margin-top: 25px;
}

.pets {
  padding: 80px 100px 40px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets h3 {
  width: 400px;
  color: #545454;
  text-align: center;
}

.pets button {
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #292929;
}

.pets .pet-slider {
  height: 435px;
  width: 1200px;
  margin: 60px 0px;
}
/*# sourceMappingURL=style.css.map */