html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1cdb3;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}

h5 {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #545454;
  text-decoration: none;
}

a:hover {
  color: #292929;
}

a.current:link, a.current:visited {
  border-bottom: 3px solid #f1cdb3;
}

ul {
  padding: 0;
}

main {
  width: 1280px;
  margin: 0 auto;
}

.start_screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding: 60px 40px 0px;
}

.start_screen header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start_screen header .logo-title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #f1cdb3;
  margin-bottom: 10px;
}

.start_screen header .logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

.start_screen header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start_screen header nav ul li:not(:first-child) {
  margin-left: 35px;
}

.start_screen header nav ul a {
  padding: 4px 0px;
  color: #cdcdcd;
  text-decoration: none;
}

.start_screen header nav ul a:hover {
  color: #fafafa;
}

.start_screen header nav ul a.current:link, .start_screen header nav ul a.current:visited {
  border-bottom: 3px solid #f1cdb3;
}

.start_screen .start_screen-content {
  margin: 60px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start_screen .start_screen-content-text {
  margin-top: 163px;
}

.start_screen .start_screen-content-text h2 {
  width: 310px;
  margin-right: 150px;
}

.start_screen .start_screen-content-text p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #cdcdcd;
  margin: 42px 0px;
}

.start_screen .start_screen-content-text button {
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #292929;
}

.start_screen .start_screen-content-text button:hover {
  background-color: #fddcc4;
}

.start_screen .start_screen-content img {
  margin-left: 42px;
}

.about {
  background-color: #ffffff;
  padding: 80px 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about img {
  margin-left: 175px;
}

.about-text {
  margin-top: 14px;
  margin-left: 120px;
  margin-right: 175px;
}

.about-text h3 {
  margin-right: 30px;
  color: #545454;
}

.about-text p {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #4c4c4c;
  margin-top: 25px;
}

.pets {
  padding: 80px 40px 100px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets h3 {
  width: 400px;
  color: #545454;
  text-align: center;
}

.pets button {
  padding: 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #292929;
}

.pets button:hover {
  background-color: #fddcc4;
}

.pets .pet-slider {
  height: 435px;
  width: 1200px;
  margin: 60px 0px;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding: 80px 40px 100px;
}

.help h3 {
  color: #545454;
  text-align: center;
  width: 310px;
}

.help .helps_list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 55px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.help .helps_list-item {
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.help .helps_list-item h4 {
  text-align: center;
}

.help .helps_list-item img {
  height: 60px;
  margin-bottom: 30px;
}

.donation {
  background-color: #f6f6f6;
  padding: 80px 0px 100px;
}

.donation-wrap {
  width: 915px;
  margin: 0px auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.donation-wrap-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  row-gap: 20px;
  color: #545454;
}

.donation-wrap-text p {
  color: #B2B2B2;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.donation-wrap-text-credit_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  padding: 40px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 155px;
          column-gap: 155px;
}

footer h3 {
  color: #ffffff;
}

footer h4 {
  color: #f1cdb3;
}

footer .contacts {
  width: 500px;
}

footer .contacts,
footer .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  row-gap: 40px;
}

footer .locations {
  row-gap: 33px;
}

footer .mail,
footer .phone,
footer address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

footer address {
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */