html {
    box-sizing: border-box;
    background-color: #fff;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: $color-light-xl;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
}

p {
    margin: 0;
    padding: 0;
}

a {
    @include paragraph-l;
    color: $color-dark-l;
    text-decoration: none;
    &:hover {
        color: $color-dark-3xl;
    }
    &.current:link,
    &.current:visited {
        border-bottom: 3px solid $color-primary;
    }
}

ul {
    padding: 0;
}

// main {
//     width: 1280px;
//     margin: 0 auto;
// }

.section_content_wraper {
    width: 1280px;
    margin: 0 auto;
}
