@font-face {
    font-family: "Georgia";
    src:  local("Georgia"),
          url(../assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Georgia Bold";
  src:  local("Georgia Bold"),
        url(../assets/fonts/georgia/georgia-bold.ttf);
}
@font-face {
  font-family: "Arial";
  src:  local("Arial"),
        url(../assets/fonts/arial/arial-regular.ttf);
}
